[submodule "home/viteky/awesome/home/viteky/awesome/bling"]
	path = home/viteky/awesome/home/viteky/awesome/bling
	url = https://github.com/BlingCorp/bling.git
[submodule "home/viteky/awesome/bling"]
	path = home/viteky/awesome/bling
	url = https://github.com/BlingCorp/bling.git
